<%- include('layout/header.ejs'); -%>
<div class="allPage">
<form action="/editProfile" method="POST" autocomplete="off" class="form">
    <div class="form-group">
        <label>About me</label>
        <textarea class="form-control" rows="4" cols="50" name="userInfo"><%= editProfile.infoAboutUser %></textarea>
    </div>
    <div class="form-group">
        <label>Image</label>
        <textarea class="form-control" rows="4" cols="50" name="userImage"><%= editProfile.imageUser %></textarea>
    </div>
    <div class="form-group">
        <label>Facebook</label>
        <input class="form-control" name="userFacebook" value="<%= editProfile.facebookUser %>">
    </div>
    <div class="form-group">
        <label>Instagram</label>
        <input class="form-control" name="userInstagram" value="<%= editProfile.instagramUser %>">
    </div>
    <div class="form-group">
        <label>youtube</label>
        <input class="form-control" name="userYoutube" value="<%= editProfile.youtubeUser %>">
    </div>
    <div class="form-group">
        <label>twitter</label>
        <input class="form-control" name="userTwitter" value="<%= editProfile.twitterUser %>">
    </div>
    <div class="form-group">
        <label>Number of countries visited</label>
        <input class="form-control" name="visitedCountries" value="<%= editProfile.visitedCountries %>">
    </div>
    <div class="form-group">
        <label>Number of trips</label>
        <input class="form-control" name="numberOfTrips" value="<%= editProfile.numberOfTrips %>">
    </div>
    <button type="submit" class="btn btn-primary button">Add</button>
</form>
</div>
<%- include('layout/footer.ejs'); -%>